#
# This is the typical worker configuration file. The file should be
# called "worker_config.cfg", and will be placed inside the worker
# directory. It defines the tags understood by the worker, with the
# corresponding list of commands
#
#


---
w_tags:
    [
     {
       t_name: "LOG",
       t_keyrings: ["allowed_users.asc"],
       t_commands: [
                    {
                     c_url: "file:///home/katolaz/bin/scorsh_script.sh"
##                     c_hash: "12da324fb76s924acbce"
                    }
                   ]
      }
    ]
...